.roundiv{
    border-width: 1px;
    margin: 10px;
    border-color: #f8f8f8;
    border: solid;
    border-radius: 1px;
    background-color: #f0f0f0;
    vertical-align: center;
    padding: 15px;
}