body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: #887a7a; */
    /* background-color: rgba(87, 84, 84, 0.116); */
  }
  
  form a{
    padding: 50px 10px;
    font-size: 20px;
  }
  .logindivform{
    /* display: inherit; */
    /* align-items: center; */
    font-size: 14px;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 18px #888888;;
  }
  
  form input[type='submit']{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    text-align: center;
  }
  
  form input[type='submit']:hover{
    background-color:rgb(47, 131, 180);
    transition: 200ms;
    color: white;
  }
  
  .disabled{
    pointer-events: none;
    
  }
  
  .footer{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }